<!DOCTYPE html>
<html>
  <head>
    <title>The 1st IEEE VIS Workshop on Sports Data Visualization</title>
    <link charset='utf-8' href='css/main.css' media='screen' rel='stylesheet' title='no title' type='text/css'>
  </head>
  <body class='home'>
    <div id='header'>
      <h1>What's the score?</h1>
      <h2>The 1st Workshop on Sports Data Visualization</h2>
      <h2>
        <a href='http://ieeevis.org'>IEEE VIS 2013</a>
        | Atlanta, Georgia
        | October 14, 2013
      </h2>
      <ul class='menu'>
        <li>
          <a href='index.html'>Home</a>
        </li>
        <li>
          <a href='cfp.html'>Call for Participation</a>
        </li>
        <li>
          <a href='agenda.html'>Agenda</a>
        </li>
        <li>
          <a class='twitter-follow-button' data-show-count='false' href='https://twitter.com/sportvis13'>Follow @sportvis13</a>
        </li>
      </ul>
    </div>
    <div class='container'>
      {{ content }}
    </div>
    {% include ga.html %}
    {% include twitter.html %}
  </body>
</html>
