!!! 5
%html
  %head
    -# CSS, title, meta, and whatnot
    %title= @title
    %link{rel: "stylesheet", href: "main.css" , type: "text/css" , media: "screen" , title: "no title" , charset: "utf-8"}
  %body{class: @which}
    #header
      %h1 What's the score? 
      %h2 The 1st Workshop on Sports Data Visualization
      %h2 IEEE VIS 2013 | Atlanta, Georgia | October ?, 2013
      %ul.menu
        %li 
          %a{ href: 'index.html' } Home
        %li 
          %a{ href: 'cfp.html' } Call for Participation
        %li 
          %a{ href: 'agenda.html' } Agenda
        %li 
          %a{ href: '#' } Participants
    #container= yield